<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337780233121-7gl3j1elfdl3ec2r5dkjnsosui6jfdl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337780233121-7gl3j1elfdl3ec2r5dkjnsosui6jfdl3</string>
	<key>API_KEY</key>
	<string>AIzaSyCKKeCrXJtCQXaQW3XCWVCCYU8PyG_g_KI</string>
	<key>GCM_SENDER_ID</key>
	<string>337780233121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.registerCode</string>
	<key>PROJECT_ID</key>
	<string>register2-de1db</string>
	<key>STORAGE_BUCKET</key>
	<string>register2-de1db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337780233121:ios:135624c6fcd06c595d31e0</string>
</dict>
</plist>